<main class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Resolve Excuses</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">


            <div class="row">
                {{#if hasError}}
                    <h5> {{errorMsg}} </h5>
                {{else}}
                    <h5> {{successMsg}} </h5>
                {{/if}}
            </div>
                <table class="table table-bordered">
                    <th>student's name</th>
                    <th>student's id</th>
                    <th>student's major</th>
                    <th>student's level</th>
                    <th>type</th>
                    <th>Submitted At</th>
                    <th>show</th>

                {{#each docs}}
                    {{#each this}}
                            {{#each this.student}}
                                {{#if this.name}}
                                    <tr>
                                        <td> {{this.name}}</td>
                                        <td>{{this.id}} </td>
                                        <td> {{this.major}} </td>
                                        <td>{{this.level}}</td>
                                        <td>{{../this.type}}</td>
                                        <td>{{../this.createdAt}}</td>
                                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#s{{../this._id}}"> show </button></td>
                                    </tr>
                                <div class="modal fade " id="s{{../this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-xl " >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Excuse</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <b> name</b>
                                        </div>
                                        <div class="col-2">
                                            <b> id</b>
                                        </div>
                                        <div class="col-2">
                                            <b> major</b>
                                        </div>
                                        <div class="col-2">
                                            <b> level</b>
                                        </div>
                                        <div class="col-2">
                                            <b> Type</b>
                                        </div>
                                        <div class="col-2">
                                            <b> Submitted At</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <span>{{this.name}}</span>
                                        </div>
                                        <div class="col-2">
                                            <span>{{this.id}} </span>
                                        </div>
                                        <div class="col-2">
                                            <span> {{this.major}} </span>
                                        </div>
                                        <div class="col-2">
                                            <span>{{this.level}}</span>
                                        </div>
                                        <div class="col-2">
                                            <span>{{../this.type}}</span>
                                        </div>
                                        <div class="col-2">
                                            <span>{{../this.createdAt}}</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-3">
                                            <b>Course Code</b>
                                        </div>
                                        <div class="col-3">
                                            <b>Course Name</b>
                                        </div>
                                        <div class="col-3">
                                            <b>Section</b>
                                        </div>
                                        <div class="col-3">
                                            <b>Lecturer Name</b>
                                        </div>
                                    </div>
                                <hr>
                                {{/if}}
                                {{/each}}
                            {{#each this.info}}
                                {{#each this}}
                                    {{#if this.code}}
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    <span>{{this.code}}</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span>{{this.courseName}}</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span>{{this.section}}</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span>{{this.lecturer}}</span>
                                                                </div>
                <hr>
                                                            </div>

                                    {{/if}}
                                {{/each}}
                            {{/each}}
                    {{#if this.proof}}
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>Date From</b>
                            </div>
                            <div class="col-6">
                                <b>Date To</b>
                            </div>
                        <div class="row">
                            <div class="col-6">
                                <span>{{this.dateFrom}}</span>
                            </div>
                            <div class="col-6">
                                <span>{{this.dateTo}}</span>
                            </div>
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-12">
                                <a href="/advisor/resolveExcuses/proof/{{this.proof}}" target="_blank" > <b>proof </b> </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                        <form method="post" >
                            <div class="row">
                                <div class="col-6"></div>
                                <label for="advisorComment"> Advisor's Comment</label>
                                <textarea class="form-control" name="advisorComment" id="advisorComment" placeholder="Enter Your Comments Here" ></textarea>
                                <input name="exId" value="{{this._id}}" hidden readonly>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button name="reject" id="reject" type="submit" class="btn btn-danger" >Reject</button>
                                <button name="recommend" id="recommend" type="submit" class="btn btn-primary">Recommend</button>
                            </div>
                        </form>
                    {{/if}}

                    {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                {{/each}}



                </table>



    </div>
            </div>






</main>